*{
  padding: 0;
  margin: 0;
  
}
.navbar{
  margin:0;
  border-radius:0%;
  
}
.container{
  width: 100%;

}
.home-div{

  background-repeat: no-repeat;
  background-position: center center;
  opacity:0.8;
  width:100%;
  padding-top:90px;
  padding-bottom:90px;
  box-shadow: 0 5px 5px #888888;
  position:relative;
  z-index:5;
  
}
.rounded-circle{
  width: 15%;
margin-left: 0%;
border: 2px solid black;
}
.name{
  color:white;
  text-align:center;
}
.title{
  color:white;
  text-align:center;
}

.social-img{
  height:auto;
  opacity:1;
  margin:0 auto;  
  width:60px;  
}
#social-media-container{
  text-align:center;
  padding:0;
}
.h1{
  color: rgba(174, 0, 255, 0.904);
}
.social-div{
  display:inline-block;
  margin:2%;
}
.social-div a{
  text-decoration: none;
  padding: 10%;
  font-weight: bold;
}

.social-div a:hover{
  background-color: rgba(174, 0, 255, 0.904);
  color: rgb(255, 255, 255);
  transition: 1s;
}
.colaboracion a{
  background-color: rgba(181, 35, 248, 0.459);
  color: rgb(0, 0, 0);
}
.images a{
  background-color: rgba(181, 35, 248, 0.459);
  color: rgb(0, 0, 0);
}
.contacto a{
  background-color: rgba(181, 35, 248, 0.459);
  color: rgb(0, 0, 0);
}
.inicio a{
  background-color: rgba(181, 35, 248, 0.459);
  color: rgb(0, 0, 0);
}
.about-div{
  background-color: #d6eaf8 ;
  padding-top:90px;
  padding-bottom:90px;
  box-shadow: 0 5px 5px #888888;
  position:relative;
  z-index:4;
}
.code-img{
  display:block;
  margin:auto;
  text-align:center;
}
.about-hr{
  width:80%;
  text-align:left;
  margin-top:15px;
  margin-left:0;
  margin-bottom:25px;
  border-style: solid;
  border-width:2px;
  border-radius:5px;
  color:#888888;
  border-color:#888888;
}
.portafolio-div{
  padding-top:90px;
  padding-bottom:90px;
  background-color:#d6eaf8;
  position:relative;
  z-index:2;
  box-shadow: 0 5px 5px #888888;
}
.thumbnail-img-div{
  width:90%;
  height:90%;
  display:block;
  margin:auto;
  text-align:left;
}
.portafolio-a:link, .portafolio-a:visited,.portafolio-a:hover,.portafolio-a:active{
  text-decoration:none;
  
}
.portafolio-title-text{
  color:#3b3737;
}

.exp-div{
  padding-top:60px;
  padding-bottom:60px;
  position:relative;
  z-index:3;
  box-shadow: 0 5px 5px #888888;
}
.exp-hr{
  width:100%;
  text-align:left;
  margin-top:15px;
  margin-left:0;
  margin-bottom:25px;
  border-style: solid;
  border-width:1px;
  border-radius:5px;
  color: #e5e8e8 ;
  border-color: #e5e8e8 ;
}
.contact-container{
  padding-top:90px;
  padding-bottom:90px;
  z-index:1;
}
.exp-text-div{
  word-wrap:break-word;
  text-align:left;
}
#main-footer{
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  text-align:center;
}


@media only screen and (min-width: 320px) and (max-width: 568px){
  .rounded-circle{
    width: 50%;
    margin-left: 5%;
    margin-top: -17%;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 360px) and (max-width: 640px){
  .rounded-circle{
    width: 40%;
    margin-left: 7%;
    margin-top: -17%;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 375px) and (max-width: 667px){
  .rounded-circle{
    width: 50%;
    margin-left: 5%;
    margin-top: -17%;
    margin-bottom: 2%;
  }
}
@media only screen and (min-width: 411px) and (max-width: 731px){
  .mi-menu{
      margin-top: -45%;
  }
}
@media only screen and (min-width: 540px) and (max-width: 720px){
  .mi-menu{
      margin-top: -38%;
  }
}
